@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  font-family: 'Inter' !important;
  /* font-family: 'DM Sans' !important; */
}


input, textarea{
  border:  0px !important;
  box-shadow: none !important;
  opacity:.7;
  padding: 0 !important;
}

.post-btn:hover{
  box-shadow: 1px 1px 5px rgba(0,0,0, .1);
  background: #38269b !important;
  transition: .2s ease-in-out;
}

.post-item:hover{
  transition: .2s ease-in-out;
  background: rgba(255,255,255, .3);
}